<!-- SEO Tags OpenGraph -->
<meta property="og:site_name" content="{{site.title}}">
<meta property="og:url" content="{{page.url | absolute_url}}">

<meta name="twitter:card" content="summary">
<meta property="twitter:url" content="{{page.url | absolute_url}}">

{% if page.url == "/" %}
<meta property="og:title" content="{{site.title}}">
<meta name="twitter:title" content="{{site.title}}">
{% else %}
<meta property="og:title" content="{{page.title}} | {{site.title}}">
<meta name="twitter:title" content="{{page.title}} | {{site.title}}">
{% endif %}

{% if page.layout == "post" %}
<meta property="og:type" content="article">
<meta property="og:description" content="{{page.description}}">
<meta property="og:image" content="{{page.image.path | absolute_url}}">
<meta name="twitter:image" content="{{page.image.path | absolute_url}}">
<meta name="twitter:description" content="{{page.description}}">
{% else %}
<meta property="og:type" content="website">
<meta property="og:description" content="{{site.description}}">
<meta property="og:image" content="{{'/assets/img/favicon/' | absolute_url}}apple-icon.png">
<meta name="twitter:image" content="{{'/assets/img/favicon/' | absolute_url}}apple-icon.png">
<meta name="twitter:description" content="{{site.description}}">
{% endif %}