<ul>
  <li onclick="toShare(event)" aria-label="Whatsapp">
    <i class="whatsapp fa-brands fa-square-whatsapp"></i>
  </li>
  <li onclick="toShare(event)" aria-label="LinkedIn">
    <i class="linkedin fa-brands fa-linkedin"></i>
  </li>
  <li onclick="toShare(event)" aria-label="Mastodon">
    <i class="mastodon fa-brands fa-mastodon"></i>
  </li>
  <li onclick="toShare(event)" aria-label="Telegram">
    <i class="telegram fa-brands fa-telegram"></i>
  </li>
  <li onclick="toShare(event)" aria-label="Reddit">
    <i class="reddit fa-brands fa-square-reddit"></i>
  </li>
  <li onclick="toShare(event)" aria-label="Pocket">
    <i class="pocket fa-brands fa-get-pocket"></i>
  </li>
  <li onclick="toShare(event)" title="Copy Url" aria-label="Copy Url">
    <i class="fa-solid fa-share-nodes"></i>
  </li>
</ul>