<ul>
  <li>
    <a href="https://github.com/{{site.github}}" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/{{site.linkedin}}" target="_blank" aria-label="LinkedIn">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </li>
  <li>
    <a rel="me" href="https://{{site.mastodon.instance}}/@{{site.mastodon.user}}" target="_blank" aria-label="Mastodon">
      <i class="fa-brands fa-mastodon"></i>
    </a>
  </li>
  <li>
    <a href="https://instagram.com/{{site.instagram}}" target="_blank" aria-label="Instagram">
      <i class="fa-brands fa-square-instagram"></i></i>
    </a>
  </li>
  <li>
    <a href="mailto:{{site.email}}" target="_blank" aria-label="Email">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </li>

  <!-- The donate icon by default is not displayed on the About page, for changes see assets/css/about.css -->
  <li>
    <a href="{{site.donate}}" target="_blank" aria-label="Doação">
      <i class="fa-solid fa-handshake"></i>
    </a>
  </li>
</ul>