/* Page 404 */

.page-404 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-404 h1 {
  font-size: 6rem;
}

.page-404 a {
  margin: 2rem 0;
}

.page-404 img {
  max-width: 500px;
  max-height: 500px;
  box-shadow: none !important;
  border: none !important;
}