.skills,
.contacts-social-icons ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

.skills-items img {
  transition: transform 0.7s ease;
}

.contacts-social-icons li {
  list-style-type: none;
}

.contacts-social-icons ul li a {
  color: var(--primary-color);
}

.contacts-social-icons ul li a i {
  font-size: 5rem;
  transition: transform 1s ease;
}

.skills-items img:hover,
.contacts-social-icons ul li a i:hover {
  transform: scale(1.2);
}

/* Hide icon donate in About page */
.contacts-social-icons ul li a i[class="fa-solid fa-handshake"] {
  display: none;
}
