.post-list {
  width: calc(100vw - 350px);
  float: right;
  height: 100vh;
  margin-top: 2rem;
}

.post-list a {
  text-decoration: none;
}

.post-list .card-post h2 {
  font-size: 2.5rem;
  color: var(--details-color-blue);
}

.card-post {
  border-radius: 5px;
  padding: 1rem 2rem;
  box-shadow: 1px 1px 1px #d1d9e6;
  transition: border-left 0.5s ease;
  width: 85%;
  margin: 0 auto 1rem;
}

.card-post:hover {
  border-left: 1rem solid var(--details-color-blue);
}

.card-post-info {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
