---
layout: default
---

<main class="post-list">
  {% for post in site.posts %}
  <a href="{{post.url | absolute_url }}">
    <div class="card-post hidden-animation">
      <div class="card-post-meta">
        <h2>{{post.title}}</h2>
        <p class="card-post-description text-secondary text-truncate">{{post.description}}</p>
        <p class="card-post-info text-secondary">
          <span>
            <i class="fa-regular fa-calendar"></i>
            <time>{{post.date | date: "%d . %m . %Y"}}</time>
          </span>
          <i>&bull;</i>
          <span>
            <i class="fa-regular fa-clock"></i>
            {% include read-time.html content=post.content %}
          </span>
        </p>
      </div>
    </div>
  </a>
  {% endfor %}
</main>